# Ignore the virtual environment
venv/
venv
venv310/

# Ignore massive asset files
assets/
FLAME_PyTorch/model/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore local experiment outputs and scratch files
experiments/
myoutput*.txt

# Ignore VS Code settings
.vscode/

# Ignore build artifacts
build/
dist/
*.egg-info/
